#header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.nav-container > ul{
    list-style: none;
    display: flex;
}
.nav-container > ul > li{
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}
.logo_img{
    width:140px;
}
p{
    overflow: hidden; /* or overflow: visible; */
    word-wrap: break-word;
}
.food_logo{
    width:192px;
    height: 100px;
    padding: 5px;
    padding-left: 4px;
}
.search{
    gap: 10px;
    padding: 10px;
    display: flex;
}
.status{
    font-weight: bold;
    margin-bottom: 10px;
}
.cart{
    margin-right: 10px;
}

.card{
    background-color: grey;
    width:198px;
    height:350px;
    text-align: center;
    margin: 40px;
    
}

.menuitems{
    margin: 20px;
}

.linkk{
    text-decoration: none;
    color: black;
}


.none{
    list-style-type: none;
    margin-left: 30px;
}
.card:hover{
    border:2px solid black;
    cursor: pointer;
}
.card{
    border-radius: 10px;
}
.restro-cont{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    
}
.restro-card{
    margin: 5px;
}



.login{
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
}

.shim-cont{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.shim{
    padding: 20px;
    margin: 20px;
    width: 150px;
    height: 250px;
    background-color: #f0f0f0;
}

.butto{
    padding: 0 20px;
    margin-right: 20px;
    cursor: pointer;
}